@charset "utf-8";

* {
padding: 0px;
margin: 0px;
outline: none;
border:none;
box-sizing: border-box;	
}



.more-search {
padding-top: 100px;
padding-bottom: 100px;
background: rgba(0,18,23,.4);
margin-top: 70px;	
}

.ms-cont {
    background: url(../images/banners/about-banner1.jpg);
    background-size:cover;
background-position:center;
width: 100%;
float: left;
}


.one-result {
width: 80%;
float: left;
clear: both;
margin-bottom: 30px;	
padding: 20px 0px;
border-bottom:1px solid #eaeaea;
}

.page-title {
color: #001217;
float: left;
width: 600px;
text-align: left;
text-decoration: none;	
font-size: 18px;
display:block;
max-width: 100%;
    font-weight: 600;
}

.page-description {
color: #333;
float: left;
width: 600px;
text-align: left;
padding: 10px 0px;
font-size: 16px;
display:block;
max-width: 100%;
}

.page-link {
color: #0ba8be;
float: left;
width: 600px;
text-align: left;
text-decoration: none;	
font-size: 15px;
display:block;
max-width: 100%;
}

.outcome-title {
width: 80%;
text-align: left;
padding-bottom: 30px;
font-size: 15px;
color: #333;	
}


@media screen and (max-width: 700px){
   

.one-result {
width: 100%;
float: left;
clear: both;
margin-bottom: 20px;	
}

.page-title {
color: #001217;
float: left;
width: 100%;
text-align: left;
text-decoration: none;	
font-size: 18px;
}

.page-description {
color: #333;
float: left;
width: 100%;
text-align: left;
padding: 10px 0px;
font-size: 16px;
}

.page-link {
color: #0ba8be;
float: left;
width: 100%;
text-align: left;
text-decoration: none;	
font-size: 15px;
display: block;
word-wrap:break-word;
}

.outcome-title {
width: 100%;
text-align: left;
padding-bottom: 30px;
font-size: 15px;
color: #333;	
}


 
}


@media screen and (max-width: 500px){
   
 
}